.aboutUs{
    max-width: 1000px;
    height: 65vh;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
.abouth1{
    color: #ff4081;
    margin-bottom: 10px;
  }

.abouth2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
.aboutP {
    font-size: 18px;
    color: #fff;
  }